<ion-view title="Clasificación">


	<ion-content class="padding">
		<div class="banner_score">
			<h2>Clasificación</h2>
			<i class="icono-trophy ion-trophy"></i>
		</div>
		<div class="header">
			<span class="first">Posición</span>
			<span>Nombre</span>
			<span class="last">Victorias</span>
		</div>
		<ul class="scores">			
			<li >
				<label> 1</label>
				<span class="team-score green">Equipo verde</span>
				<span class="points">3</span>
			</li>
			<li >
				<label> 2</label>
				<span class="team-score blue">Equipo Azul</span>
				<span class="points">3</span>
			</li>				
		</ul>
	</ion-content>
	<ion-footer-bar class="dark-green">
		<div class="content-bottom">
			<p class="green-button">
				<span>
					<a class="button" ng-click="create()">
						<i class="iconos ion-android-checkmark"></i>
						Siguiente Equipo
					</a>
				</span>
			</p>			
		</div>
	</ion-footer-bar>
</ion-view>
