<ion-view title="Inicio" class="home">
	<ion-content class="padding container board">
		<div class="bar-team red">
			<div class="counter-team">
				<i class="icon ion-ios-stopwatch"></i>
				45
			</div>
			<div class="points-team">
				<i class="icon ion-podium"></i>
				2 aciertos
			</div>
		</div>
		<div class="word">
			<i class="icon ion-speakerphone"></i>
			Hada
		</div>
		<ul class="forbidden-list">
			<li>Peter Pan</li>
			<li>Polvo</li>
			<li>Magia</li>
			<li>Varita</li>
		</ul>
		<ion-footer-bar class="dark-green">
			<div class="content-bottom">
				<p class="green-button">
					<span>
						<a class="button" ng-click="next()">
							<i class="ion-happy-outline"></i>
							Acierto
						</a>
					</span>
				</p>			
			</div>
		</ion-footer-bar>	
	</ion-content>
</ion-view>

