<ion-view title="Inicio" class="home">
	<ion-content class="padding container">
		<div class="title-main top-content-50">
			<p>Palabras </br> Prohibidas</p>
		</div>
		<div class="content-bottom bottom-content-50">
			<p class="orange-button">
				<span>
					<a class="button" href="#/create">
						<i class="iconos ion-ios7-people"></i>
						Crea una Partida
					</a>
				</span>
			</p>
			<p class="blue-button">			
				<span>
					<a class="button" href="#/join">
						<i class="iconos ion-ios7-personadd"></i>
						Unirse a Partida
					</a>
				</span>
			</p>
		</div>
		
	</ion-content>
</ion-view>

