<ion-view title="Todo listo">
	<ion-nav-bar class="bar-gray" animation="nav-title-slide-ios7">
	  <ion-nav-back-button class="button-clear">
	    <i class="ion-chevron-left"></i>
	  </ion-nav-back-button>	  
	</ion-nav-bar> 
	<ion-content class="padding">	
		<div class="center-vertically">		
			<div>
				<h3 class="text-center">Partida creada correctamente</h3>
				<span class="code-border start">
					Avisa a todo el</br> mundo antes </br>de empezar
				</span>
			</div>	
		</div>
		<ion-footer-bar class="dark-green">
			<div class="content-bottom">
				<p class="green-button">
					<span>
						<a class="button" ng-click="start_match()">
							<i class="iconos ion-paper-airplane"></i>
							Iniciar partida
						</a>
					</span>
				</p>			
			</div>
		</ion-footer-bar>			
	</ion-content>
</ion-view>

