<ion-view title="Elige equipo">
	<ion-nav-bar class="bar-gray" animation="nav-title-slide-ios7">
	  <ion-nav-back-button class="button-clear">
	    <i class="ion-chevron-left"></i>
	  </ion-nav-back-button>	  
	</ion-nav-bar> 

	<ion-content class="padding">		
		<h3 class="text-center match-title">partida: 301a</h3>
		<h4 class="subtitle">¿En que equipo quieres jugar?</h4>
		<ul>
			<li ng-repeat="team in teams track by $index">
				<a class="button select-button {{team.color}}" ng-click="selectedTeam({{$index}})">
					<i class="icons ion-forward"></i>
				  	{{team.color | translate}} 
				</a>	
			</li>
		</ul>
		
	</ion-content>
</ion-view>

