<ion-view title="Esperando al creador">
	<ion-nav-bar class="bar-gray" animation="nav-title-slide-ios7">
	  <ion-nav-back-button class="button-clear">
	    <i class="ion-chevron-left"></i>
	  </ion-nav-back-button>	  
	</ion-nav-bar> 
	<ion-content class="padding red">
		<div class="center-vertically">	
			<div>
				<h3 class="text-center">Esperando al creador</br> de la partida</h3>
				<span class="code-border waiting">
					Avisa al</br>
					que inicio la partida
					<i class="icon ion-ios7-reloading"></i> 
				</span>			
			</div>
		</div>		
	</ion-content>
</ion-view>

